@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



@media screen and (max-width : 299px) {

  #quote__text {
    top:79% ;
    left: 39%;
    text-align: center;
    font-size: 55%;
   
  }

  }

/* Smartphones (portrait and landscape) ----------- */
@media screen and (max-width: 480px) and (min-width: 300px) 
{
  #quote__text {
    top:79% ;
    left: 37%;
    text-align: center;
    font-size: 65%;
   
  }
}
@media screen and (max-width: 680px) and (min-width:481px) 
{
  #quote__text {
    top:79% ;
    left: 35%;
    text-align: center;
    font-size: 110%;
   
  }
}

@media screen and (max-width: 760px) and (min-width:685px) 
{
  #quote__text {
    top:79% ;
    right: 38%;
    text-align: center;
    font-size: 165%;
   
  }
}


/* iPads (portrait and landscape) ----------- */
@media screen and (min-width : 768px) and (max-width : 1024px) {

  #quote__text {
    top:79% ;
    left: 35%;
    text-align: center;
    font-size: 160%;
   
  }

  }


@media screen and (min-width : 1025px) and (max-width : 1300px) {
  #quote__text {
    top:79% ;
    left: 35%;
    text-align: center;
    font-size: 250%;
  }

  }

  @media screen and (min-width : 1301px) {

    #quote__text {
      top:79% ;
      left: 32%;
      text-align: center;
      font-size: 300%;
     
    }
  
    }


body {
  margin:0;
  font-family: 'Montserrat', sans-serif;
 

}
h6{
  font-size: 70%;
}
section {
  display: grid;
  justify-items: center;

 
}
#into
{
  color: black;
  padding: 5% 5% 5% 5%;
}
#intro h3
{
  margin-top: 5px;
  margin-bottom: 18px;
  font-size: 70%;
  text-align: center;
color: #ce202f;
}
#intro img
{
  width: 20%;
  height: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  #quote__text {
    color:#ce202f;
    position: absolute;
    text-align: center;
  }
  #capture img {
    max-width: 110%;
    max-height: 100%;
  }
  #capture {
   
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
  
  }
  .input-group.mb-3
  {
    margin-top: 10px;
    width: 85%;
  }
  #download
  {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #render 
  {
    width: 100%;
    height: 100%;
   display: none;
  }
